@import "tailwindcss";
body{
  background-color: rgb(0, 0, 0);
  color: white;
  
}

html {
  scroll-behavior: smooth;
}

.labelTitulo {
  color:white !important;
}

.btn-1 {
	background-color:transparent !important;
	border-radius:28px !important;
	border:1px solid #fcbe05 !important;
	display:inline-block !important;
	cursor:pointer !important;
	color:#fcbe05 !important;
	font-family:Arial !important;
	font-size:15px !important;
	padding:10px 21px !important;
	text-decoration:none !important;
	text-shadow:0px 1px 0px #2f6627 !important;
  width: 170px !important;
  text-align: center !important;
}
.btn:hover {
	background-color:transparent !important;
}
.btn:active {
	position:relative !important;
	top:1px !important;
}